<link rel="stylesheet" href="~/css/accountPage.css" asp-append-version="true" />
@model IEnumerable<WebAuctions.ViewModels.AuctionVM>
<div class="order-table">
    <h2>@User.Identity.Name    -   Account Screen</h2>
    <h2>Current Auctions</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Bid</th>
                <th>Time left</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in Model)
            {
                @if (auction.Duration > 0)
            {
                    <tr>
                        <td>@auction.Item.Name</td>
                        <td>@auction.Bid</td>
                        <td>@auction.Duration</td>
                        <td>@auction.Date</td>
                        <td>@auction.Item.Description</td>
                    </tr>
                } 
            }
        </tbody>
    </table>

    <h2>Auctions Won</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>End Price</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in Model)
            {
                @if (auction.Duration <= 0)
                {
                    <tr>
                        <td>@auction.Item.Name</td>
                        <td>@auction.Bid</td>
                        <td>@auction.Date</td>
                        <td>@auction.Item.Description</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
