<link rel="stylesheet" href="~/css/accountPage.css" asp-append-version="true" />
@model WebAuctions.ViewModels.AccountVM
<div class="order-table">
    <h2>@User.Identity.Name - Account Screen</h2>
    <h2>Current Auctions</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Bid</th>
                <th>Expiration Date</th>
                <th>Created Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currentAuction in Model.Current)
            {
                {
                    <tr>
                        <td>@currentAuction.Item.Name</td>
                        <td>$@(currentAuction.getHighestBid())</td>
                        <td>@(currentAuction.ExpirationDate)</td>
                        <td>@currentAuction.Date</td>
                        <td>@currentAuction.Item.Description</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <!-- Auctions Won Table -->
    <h2>Auctions Won</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>End Price</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wonAuction in Model.Won)
            {
                <tr>
                    <td>@wonAuction.Item.Name</td>
                    <td>$@wonAuction.getHighestBid()</td>
                    <td>@wonAuction.ExpirationDate</td>
                    <td>@wonAuction.Item.Description</td>
                </tr>

            }
        </tbody>
    </table>
</div>
