@model IEnumerable<WebAuctions.ViewModels.AuctionVM>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-TfRXPnSna2Gp5z8b0u7OnwyJj5T5TBdP/uFptpjU1JqV9zIq0sobav2iJ6bwa6M8" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/auction.js"></script>


<!DOCTYPE html>
<link rel="stylesheet" href="~/css/auctions.css" asp-append-version="true" />
<h2 class="title">Auctions</h2>
<div class="auction-items">
    @for (var i = 0; i < Model.Count(); i++)
    {
        var auction = Model.ElementAt(i);
        if (auction.ExpirationDate > DateTime.Now)
        {
            var highestBidValue = (auction.Bid != null && auction.Bid.Count > 0)
            ? auction.Bid.Max(b => b.BidAmount)
            : 0;

            <div class="auction-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="AuctionPage" asp-action="Index" asp-route-id="@auction.Id">
                    <img src="@((auction.Item != null) ? auction.Item.Picture : string.Empty)" alt="Item Image">
                </a>
                <h3>@((auction.Item != null) ? auction.Item.Name : string.Empty)</h3>
                <p class="current-bid">Current Bid: $@highestBidValue</p>
                <p class="time-left">Auction Expires: @auction.ExpirationDate</p>

                <form asp-action="Create">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ElementAt(i).Id" value="@auction.Id" />

                    <div class="bid-section">
                        <input asp-for="ElementAt(i).auctionName" class="form-control" type="number" step="0.01" required min="@highestBidValue + 1" data-current-bid="@highestBidValue" placeholder="Enter A New Bid" />
                        <span asp-validation-for="ElementAt(i).auctionName" class="text-danger"></span>
                        <button type="submit" class="place-bid-button">Place Bid</button>
                    </div>
                </form>
            </div>
        }
    }
</div>
