@model WebAuctions.ViewModels.AuctionDetailsVM

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/auctionPage.css" asp-append-version="true" />
<div class="auction-container">
    <img src="/@Model.Item.Picture" alt="Auction Image" class="auction-image">
    <div class="auction-details">
        <h1 class="auction-title">@Model.Item.Name</h1>
        <p class="auction-description">@Model.Item.Description</p>
        <p class="auction-bid">Opening Price: $@Model.OpeningPrice</p>
        <p class="auction-duration">Due date: @Model.EndDate</p>

        <!-- Display Previous Bids -->
        <div class="previous-bids">
            <h2 class="previous-bids-title">Previous Bids</h2>
            <ul class="bid-list">
                @for(int i=0; i<Model.BidVMs.Count; i++)
                {
                    <li class="bid-item">Bid @(i+1): @Model.BidVMs[i].Bidder ($@Model.BidVMs[i].Amount)</li>
                }
            </ul>
        </div>
        <!-- End of Previous Bids -->
    </div>
    <div class="description-editor">
        <h2 class="edit-description-title">Edit Description</h2>
        <input id="description-input" class="description-input" rows="4" placeholder="Add a captivating description of the auction...">
        <button id="save-description" class="save-button">Save Description</button>
    </div>
</div>
